.navbar{
    margin: 10px;
}

.nav-item{

}

 img{
     width: 250px;
     height: 250px;
     margin: 5px; 
 }

 .box{
     padding: 10px;
     text-align: center;

 }

 p{
    float: right;
    line-height: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: none;
}

body{
     margin:50px;
     text-align: center;
}

#bio{
    background-color: #B0E0E6
}

.img-box{
width: 200px;
padding: 50px;
}

.card{
   text-align: center;
    margin-left: 80px;
}

h2{
    margin-left: 70px;
}

.form-group{
    margin-right: 70px;
    margin-left: 70px;
}

.button{
    margin-left: 70px;
}
 
.column{
    padding: 30px;
}
